@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Raleway:300,400,500,600,700');

body {font-family: 'Montserrat', sans-serif; background-color: #222222;}
* {box-sizing: border-box;}
a {text-decoration: none;}
a.btn {max-width: 250px; width: 100%; height: 80px; border: 2px solid #f58024; display: flex; align-items: center; justify-content: center;
font-family: 'Raleway', sans-serif; font-weight: 600; font-size: 24px; color: #f58024; text-align: center;}
.wrapper {max-width: 800px; width: 100%; margin: 0 auto;}


/***********HEADER**/
header {margin-bottom: 60px; min-height: 280px; background: url(../images/header-bg.jpg) no-repeat center center; background-size: cover; font-family: 'Raleway', sans-serif;}
header nav {min-height: 120px; display: flex; justify-content: space-between; align-items: center;}
.logo {padding: 0 30px;}
.menu {max-width: 720px; width: 100%;}
.menu ul {display: flex; border: 1px solid #383a3a}
.menu ul li {border-right: 1px solid #383a3a; max-width: 120px; width: 100%; height: 120px;}
.menu ul li a {transition: all .1s ease; display: block; height: 100%; text-transform: uppercase; color: #b0b0b0;
display: flex; align-items: center; justify-content: center; flex-direction: column;}
.menu ul li a:hover {color: #fff; background: #f58024;}
.menu ul li a:hover .hover-img {display: block;}
.menu ul li a .hover-img {display: none; margin-bottom: 15px;}
.menu ul li.active a {color: #fff; background: #f58024;}
.menu ul li.active a .hover-img {display: block; margin-bottom: 15px;}

.header-title-wrap {position: relative;}
.header-title {max-width: 1100px; margin: 0 auto; min-height: 160px;
display: flex; align-items: center; justify-content: space-between;}
.head-title h1 {font-size: 64px; font-weight: 300; color: #fff;}
.head-btn {max-width: 250px; width: 100%; height: 80px;}

.header-support { position: absolute; width: 45px; height: 300px; right: 0px; top: 35px;}
a.support-btn {position: absolute; border-top-left-radius: 5px; border-top-right-radius: 5px; width: 95px; height: 45px;
  background: #f58024;  transform: rotate(-90deg); display: block; display: flex; align-items: center; justify-content: center;
  left: -25px; top: 25px;}
a.support-btn span { color: #fff; font-weight: 600;}
.header-support ul {position: absolute; display: flex; flex-direction: column; justify-content: space-around;
  top: 100px; width: 100%; height: 200px;}
.header-support ul li a {display: block; text-align: center; font-size: 26px; color: #f58024;}


/***********PRICING CONTENT**/

.pric-cont {width: 100%; height: 650px;}
.pric-cont-top {height: 420px; width: 100%; height: 420px; padding: 50px; box-shadow: inset 0 -150px 200px -55px #000000;}
.pric-cont-title {min-height: 200px; margin-bottom: 10px;}
.pric-cont-title h2 {font-family: 'Montserrat', sans-serif; font-weight: 700; font-size: 64px; color: #fff;}
p.membership {font-family: 'Montserrat', sans-serif; font-weight: 300; font-size: 32px; line-height: 64px; color: #fff;}
.around-clock {background: url(../images/around-clock.jpg) no-repeat center center; background-size: cover;}
.virtual-office {background: url(../images/virtual-office.jpg) no-repeat center center; background-size: cover;}
.full-time {background: url(../images/full-time.jpg) no-repeat center center; background-size: cover;}
.desk-standard {background: url(../images/desk-standard.jpg) no-repeat center center; background-size: cover;}
.desk-medium {background: url(../images/desk-medium.jpg) no-repeat center center; background-size: cover;}
.medium-office {background: url(../images/medium-office.jpg) no-repeat center center; background-size: cover;}
.large-office {background: url(../images/large-office.jpg) no-repeat center center; background-size: cover;}

.pric-cont-bottom {padding: 50px; padding-top: 0; height: 230px; background: #000; display: flex; justify-content: space-between;}
.cont-bott-list {width: 55%; height: 100%; color: #fff;}
.cont-bott-list ul li {padding-left: 40px;}
.cont-bott-list ul li p {position: relative; font-size: 26px; line-height: 48px; font-weight: 300;}
.cont-bott-list ul li p::before {content: ''; position: absolute; width: 32px; height: 25px; background: url(../images/done-img.png) no-repeat center center; left: -55px;}
.cont-bott-list ul li a {font-weight: 300; display: inline-block; margin-top: 10px; color: #fff; text-decoration: underline; font-size: 22px;}
.cont-bott-join {position: relative; width: 45%; height: 100%; display: flex; align-items: flex-end; justify-content: flex-end;}
.cont-bott-join.pagi {flex-direction: column; justify-content: space-around; padding-left: 65px;}
.most-wanted {position: absolute; right: -50px; top: 0; max-width: 355px; width: 100%; height: 50px;}
.most-wanted img {width: 100%;}
.plans-info {padding: 25px; min-height: 200px;}
.plans-info p {color: #929191; font-size: 18px; line-height: 24px;}

.pagination {align-self: flex-start;}
.pagination span {font-size: 18px; line-height: 32px; color: #929191; font-weight: 300;}
.pagination ul li {display: inline-block; border-left: 1px solid #7f7e7e}
.pagination ul li a {font-size: 24px; color: #fff; font-weight: 300; padding: 0 10px;}

.addi-memb {min-height: 300px;}


/*********FOOTER***/
.footer-wrap {max-width: 1170px; width: 100%; margin: 0 auto;}
#footer-top .footer-wrap {padding: 50px 20px;}
#footer-top ul {display: flex; justify-content: space-between;}
#footer-top ul li.to-top {width: 50px; text-align: center;}
a.btn-to-top {margin-bottom: 10px; transition: all .1s ease; width: 50px; height: 50px; border: 2px solid #e7e7e8; display: block; color: #e7e7e8; line-height: 53px;}
a.btn-to-top i {font-size: 28px;}
a.btn-to-top:hover {background: #e7e7e8; color: #222222;}
#footer-top ul li p {font-size: 16px; line-height: 22px; color: #e7e7e8; font-family: 'Raleway', sans-serif;}

.under-logo {display: block; margin-bottom: 20px; font-size: 16px; line-height: 22px; color: #e7e7e8; font-family: 'Raleway', sans-serif; text-transform: uppercase;}
.address a {font-size: 16px; line-height: 22px; color: #e7e7e8; font-family: 'Raleway', sans-serif;}

.newsletter input {max-width: 350px; width: 100%; height: 50px; border: none; background: #fff; padding: 0 15px; font-size: 18px; margin-bottom: 10px;}
.newsletter input::placeholder {color: #d0d0d0; font-size: 18px; line-height: 22px;}
.newsletter button {transition: all .1s ease; max-width: 250px; width: 100%; height: 40px; border: 2px solid #fff; color: #fff; font-size: 16px; background: transparent; cursor: pointer;}
.newsletter button:hover {background: #fff; color: #222222;}

footer {background: #383a3a; height: 345px; padding: 40px 0; font-family: 'Raleway', sans-serif;}

.copyright p {font-size: 13px; color: #e7e7e8;}
.copyright p span {padding-left: 20px;}
a.uhsome {margin-left: 20px;}

.footer-list ul li {max-width: 165px; width: 100%; display: inline-block; vertical-align: top;}
.footer-list h4 {margin-bottom: 15px;}
.footer-list h4 a {font-size: 18px; line-height: 22px; color: #f58024;}
.footer-list p a {font-size: 16px; line-height: 32px; color: #e7e7e8;}
.footer-list p a:hover {text-decoration: underline;}



/*********RESPONSIVE**/
@media screen and (max-width: 1024px) {
  .wrapper {padding: 0 20px;}
  header nav {flex-direction: column;}
  .logo {padding: 20px 0;}
  .header-title {justify-content: space-around;}
  .footer-list ul {display: flex; padding: 0 20px;}
}

@media screen and (max-width: 1024px) {
  .cont-bott-list ul li p {font-size: 20px; line-height: 32px;}
  a.btn {max-width: 200px; height: 60px; font-size: 20px;}
  .pric-cont-title h2 {font-size: 50px;}
  p.membership {font-size: 26px;}
  #footer-top ul {flex-direction: column; align-items: center; text-align: center;}
  #footer-top ul li {margin-bottom: 50px;}
  .addi-memb {min-height: 100px; text-align: center;}

  .footer-list ul li {width: 33%; flex-wrap: wrap;}

}
