@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Raleway:300,400,500,600,700");
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.button {
  max-width: 300px;
  min-height: 80px;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 0 auto;
  display: block;
  line-height: 80px;
  text-align: center;
  font-size: 24px;
}

.button.orange {
  background: #f58220;
  color: #fff;
  -webkit-box-shadow: -12px 12px 20px rgba(0, 0, 0, 0.3);
  box-shadow: -12px 12px 20px rgba(0, 0, 0, 0.3);
}

.button.white {
  background: #fff;
  color: #000;
  -webkit-box-shadow: -12px 12px 20px rgba(0, 0, 0, 0.3);
  box-shadow: -12px 12px 20px rgba(0, 0, 0, 0.3);
}

.container {
  max-width: 1220px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.page-title {
  color: #f58220;
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  margin-bottom: 30px;
}

.about {
  padding: 0 10px;
}

.about__top {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 115px;
}

.about__top .about__title {
  color: #f58220;
  margin-bottom: 90px;
}

.about__title {
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}

.about__logos-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 140px;
}

.about__logo {
  text-align: center;
  max-width: 200px;
  width: 100%;
  padding: 0 10px;
}

.about__logo img {
  margin-bottom: 45px;
}

.about__logo-txt {
  font-weight: 500;
}

.about__top-text {
  text-align: center;
  margin-bottom: 100px;
}

.about__tour {
  padding: 70px 0 125px;
  background: #f58220;
  color: #fff;
}

.about__tour .about__title {
  margin-bottom: 80px;
}

.about__tour-inner {
  padding: 0 10px;
  margin: 0 auto;
  max-width: 920px;
  width: 100%;
}

.about__tour-cards {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.tour-card {
  padding: 10px 70px 10px 50px;
  text-align: center;
  max-width: 300px;
  height: 260px;
  width: 100%;
  display: inline-block;
}

.tour-card.card-shadow, .tour-card.card-shadow-2 {
  position: relative;
}

.tour-card.card-shadow::after, .tour-card.card-shadow-2::after {
  position: absolute;
  content: '';
  top: 0;
  right: -70px;
  height: 370px;
  width: 70px;
  background: url(../images/tour-shadow.png) no-repeat center center;
  background-size: cover;
}

.tour-card.card-shadow-2::after {
  display: none;
}

.tour-card__year {
  font-weight: 500;
}

.tour-card__line {
  height: 1px;
  background: #fff;
  margin-top: 30px;
  margin-bottom: 20px;
}

.tour-card__plus {
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 15px;
}

.tour-card__sq {
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
}

.about__opening {
  padding: 90px 0 130px;
}

.about__opening-inner {
  margin: 0 auto;
  max-width: 1070px;
  width: 100%;
}

.about__opening-inner .about__title {
  margin-bottom: 70px;
}

.about__done-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

ul.done-work__list {
  width: 45%;
}

ul.done-work__list li {
  position: relative;
  padding-left: 50px;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 15px;
}

ul.done-work__list li::before {
  content: '';
  position: absolute;
  width: 32px;
  height: 25px;
  background: url(../images/about-done.png) no-repeat center center;
  left: 0;
  top: 0;
}

.about__done-work__line {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 70px;
  max-width: 400px;
  width: 100%;
  height: 2px;
  background: #000;
}

.about__title.caps {
  text-transform: uppercase;
}

.about__opening .about__title.caps {
  margin-bottom: 70px;
}

.become-member-text {
  margin: 0 auto;
  max-width: 770px;
  width: 100%;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 40px;
}

.about__see-you-title {
  font-weight: 500;
  color: #f58220;
  font-size: 64px;
  line-height: 64px;
  margin-bottom: 100px;
  text-align: center;
}

.about__opening-inner .button {
  margin-bottom: 130px;
}

.bottom-txt {
  color: #58595b;
  text-align: center;
  line-height: 32px;
  font-weight: 300;
}

.pricing {
  padding: 0 10px;
  padding-bottom: 140px;
}

.pricing__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 90px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.pricing__options-box {
  background: #f58220;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  max-width: 280px;
  width: 100%;
  height: 110px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.pricing__options-box:last-of-type {
  margin-right: 0;
}

.option-box__img {
  width: 90px;
  text-align: center;
}

.option__text-big {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
}

.option__text-small {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
}

.pricing-title {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 70px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 64px;
  line-height: 64px;
}

.pricing-title__under-txt {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 60px;
  text-align: center;
}

.pricing__tab-holder {
  margin: 0 auto;
  margin-bottom: 70px;
  text-align: center;
  padding-bottom: 50px;
  position: relative;
}

.pricing__tab-holder::after {
  position: absolute;
  content: '';
  background: url(../images/shadow-bottom.png) no-repeat center center;
  background-size: cover;
  max-width: 972px;
  width: 100%;
  height: 28px;
  bottom: -30px;
  left: 0;
  right: 0;
  margin: auto;
}

.pricing-tab {
  display: inline-block;
  max-width: 320px;
  width: 100%;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background: #58595b;
  cursor: pointer;
  position: relative;
  margin-right: -3px;
}

.pricing-tab.active-tab {
  background: #f58220;
}

.pricing-tab.active-tab::after {
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  background: #f58220;
  bottom: -18px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 0;
  right: 0;
  margin: auto;
}

.pricing-tab span {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}

.pricing-tab__show {
  padding: 50px 0 0;
  text-align: center;
}

.price__per-month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 40px;
}

.price__currency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 36px;
  margin-right: 3px;
}

.price__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 64px;
  line-height: 54px;
}

.price__month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-size: 16px;
}

.show__plus-txt__holder {
  margin-bottom: 90px;
}

.show__plus-txt,
.show__plus-sign {
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  text-align: center;
}

.show__plus-txt .show__plus-txt__orange,
.show__plus-sign .show__plus-txt__orange {
  color: #f58220;
}

.tab-show__bottom-line {
  margin: 0 auto;
  margin-top: 85px;
  max-width: 400px;
  width: 100%;
  height: 2px;
  background: #000;
}

.pricing-options__wrapper {
  margin-bottom: 90px;
}

.pricing-tab__show__holder {
  text-align: center;
}

.pricing-tab__show__third {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 300px;
  width: 100%;
}

.pricing-tab__show__third:last-of-type {
  margin-right: 0;
}

.pricing-tab__show__third .show__plus-txt {
  height: 120px;
}

.price__floor {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
}

.benefits {
  padding: 50px 0 130px;
}

.benefits-holder {
  margin: 0 auto;
  max-width: 740px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 10px;
  margin-bottom: 110px;
}

.benefit-box {
  max-width: 360px;
  width: 100%;
  height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 25px;
  color: #fff;
}

.benefit-box img {
  margin-bottom: 20px;
}

.benefit-box p {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
}

.benefit-box.box-orange {
  background: #f58220;
}

.benefit-box.box-gray {
  background: #414141;
}

.benefit-box.box-white {
  background: #fff;
  color: #000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.benefit-box.box-white p {
  font-weight: 500;
}

.box-white__txt {
  text-align: center;
}

@media (max-width: 1000px) {
  .pricing__tab-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .pricing-tab {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}

@media (max-width: 760px) {
  .benefits-holder {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .pricing__tab-holder::after {
    max-width: 375px;
  }
  .tour-card {
    padding: 10px 30px;
    max-width: 220px;
  }
}

@media (max-width: 650px) {
  .about__logos-holder {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .about__logo {
    margin-bottom: 20px;
  }
  .about__tour-cards {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .tour-card {
    margin-bottom: 30px;
  }
  ul.done-work__list li {
    font-size: 16px;
  }
  .tour-card.card-shadow-2::after {
    display: block;
  }
}

@media (max-width: 600px) {
  .pricing__options-box {
    margin-right: 0;
  }
}

@media (max-width: 414px) {
  .about__done-work {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  ul.done-work__list {
    width: 100%;
  }
  .pricing-title {
    font-size: 32px;
    line-height: 42px;
  }
}

@media (max-width: 320px) {
  .benefit-box p {
    font-size: 16px;
  }
}
