@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Raleway:300,400,500,600,700');
$orange: #f58220;

$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.button {
  max-width: 300px;
  min-height: 80px;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 0 auto;
  display: block;
  line-height: 80px;
  text-align: center;
  font-size: 24px;

  &.orange {
    background: $orange;
    color: #fff;
        box-shadow: -12px 12px 20px rgba(0,0,0, .3);
  }

  &.white {
    background: #fff;
    color: #000;
    box-shadow: -12px 12px 20px rgba(0,0,0, .3);
  }
}

.container {
  max-width: 1220px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.page-title {
  color: $orange;
  font-size: 24px;
  line-height: 32px;
  font-weight: $light;
  margin-bottom: 30px;
}



// ABOUT

.about__top {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 115px;

  .about__title {
    color: $orange;
    margin-bottom: 90px;
  }
}

.about__title {
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}

.about__logos-holder {
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;
}

.about__logo {
  text-align: center;
  max-width: 200px;
  width: 100%;
  padding: 0 10px;

  img {
    margin-bottom: 45px;
  }
}

.about__logo-txt {
  font-weight: $medium;
}

.about__top-text {
  text-align: center;
  margin-bottom: 100px;
}


.about__tour {
  padding: 70px 0 125px;
  background: $orange;
  color: #fff;

  .about__title {
    margin-bottom: 80px;
  }
}

.about__tour-inner {
  padding: 0 10px;
  margin: 0 auto;
  max-width: 920px;
  width: 100%;
}

.about__tour-cards {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.tour-card {
  padding: 10px 70px 10px 50px;
  text-align: center;
  max-width: 300px;
  height: 260px;
  width: 100%;
  display: inline-block;

  &.card-shadow {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      right: -70px;
      height: 370px;
      width: 70px;
      background: url(../images/tour-shadow.png) no-repeat center center;
      background-size: cover;
    }
  }
}

.tour-card__year {
  font-weight: $medium;
}

.tour-card__line {
  height: 1px;
  background: #fff;
  margin-top: 30px;
  margin-bottom: 20px;
}

.tour-card__plus {
  font-weight: $light;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 15px;
}

.tour-card__sq {
  font-weight: $light;
  font-size: 32px;
  line-height: 40px;
}

.about__opening {
  padding: 90px 0 130px;
}

.about__opening-inner {
  margin: 0 auto;
  max-width: 1070px;
  width: 100%;

  .about__title {
    margin-bottom: 70px;
  }
}

.about__done-work {
  display: flex;
  justify-content: space-between;
}

ul.done-work__list {
  width: 45%;

  li {
      position: relative;
      padding-left: 50px;
      font-weight: $light;
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 15px;

      &::before {
      content: '';
      position: absolute;
      width: 32px;
      height: 25px;
      background: url(../images/about-done.png) no-repeat center center;
      left: 0;
      top: 0;
    }
  }
}

.about__done-work__line {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 70px;
  max-width: 400px;
  width: 100%;
  height: 2px;
  background: #000;
}

.about__title.caps {
  text-transform: uppercase;
}

.about__opening .about__title.caps {
  margin-bottom: 70px;
}

.become-member-text {
  margin: 0 auto;
  max-width: 770px;
  width: 100%;
  text-align: center;
  font-weight: $light;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 40px;
}

.about__see-you-title {
  font-weight: $medium;
  color: $orange;
  font-size: 64px;
  line-height: 64px;
  margin-bottom: 100px;
  text-align: center;
}

.about__opening-inner .button {
  margin-bottom: 130px;
}

.bottom-txt {
  color: #58595b;
  text-align: center;
  line-height: 32px;
  font-weight: $light;
}




// PRICING
.pricing {
  padding: 0 10px;
  padding-bottom: 140px;
}

.pricing__options {
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
  flex-wrap: wrap;
}

.pricing__options-box {
  background: $orange;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 280px;
  width: 100%;
  height: 110px;
  margin-right: 20px;
  margin-bottom: 20px;

  &:last-of-type {
    margin-right: 0;
  }
}

.option-box__img {
  width: 90px;
  text-align: center;
}

.option__text-big {
  font-weight: $medium;
  font-size: 24px;
  line-height: 24px;
}

.option__text-small {
  font-weight: $light;
  font-size: 18px;
  line-height: 24px;
}

.pricing-title {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 70px;
  text-transform: uppercase;
  font-weight: $medium;
  font-size: 64px;
  line-height: 64px;
}

.pricing-title__under-txt {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  font-weight: $light;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 60px;
  text-align: center;
}

.pricing__tab-holder {
  margin: 0 auto;
  margin-bottom: 70px;
  text-align: center;
  padding-bottom: 50px;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    background: url(../images/shadow-bottom.png) no-repeat center center;
    background-size: cover;
    max-width: 972px;
    width: 100%;
    height: 28px;
    bottom: -30px;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.pricing-tab {
  display: inline-block;
  max-width: 320px;
  width: 100%;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background: #58595b;
  cursor: pointer;
  position: relative;
  margin-right: -3px;

  &.active-tab {
    background: $orange;

    &::after {
      position: absolute;
      content: '';
      width: 40px;
      height: 40px;
      background: $orange;
      bottom: -18px;
      transform: rotate(45deg);
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  span {
    color: #fff;
    text-transform: uppercase;
    font-weight: $medium;
  }
}

.pricing-tab__show {
  padding: 50px 0 0;
  text-align: center;
}

.price__per-month {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.price__currency {
  display: flex;
  align-items: flex-start;
  font-size: 36px;
  margin-right: 3px;
}

.price__number {
  display: flex;
  font-size: 64px;
  line-height: 54px;
}

.price__month {
  display: flex;
  align-items: flex-end;
  font-size: 16px;
}

.show__plus-txt__holder {
  margin-bottom: 90px;
}

.show__plus-txt,
.show__plus-sign {
  font-size: 24px;
  line-height: 32px;
  font-weight: $light;
  text-align: center;

  .show__plus-txt__orange {
    color: $orange;
  }
}

.tab-show__bottom-line {
  margin: 0 auto;
  margin-top: 85px;
  max-width: 400px;
  width: 100%;
  height: 2px;
  background: #000;
}

.pricing-options__wrapper {
  margin-bottom: 90px;
}

.pricing-tab__show__holder {
  text-align: center;
}

.pricing-tab__show__third {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 300px;
  width: 100%;

  &:last-of-type {
    margin-right: 0;
  }

  .show__plus-txt {
    height: 120px;
  }
}

.price__floor {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 32px;
  font-weight: $light;
}
